<% provide(:candidate, "active") %>
<% provide(:title, "#{@candidate.full_name}" ) %> 

<style>
	p{

	    display:inline;
	}
	h1{
	    display:inline
	}
</style>

<div class="container">
  	<div class="row">
    	<div class="col-md-12">	
    		<br>
			<h1><font size="20"><%= @candidate.full_name%></font></h1>
				<p>
				<%=link_to "Edit", edit_admin_candidate_path(@candidate.id)%>
				<%=link_to "Delete", admin_candidate_path(@candidate.id), method: :delete%>
				</p>
			<h2><%= @candidate.position.name %></h2>
				<% 
					m=0
					f=0
					l=0
					@candidate.votes.each do |v|
						if v.user != nil
						if v.user.gender=="Male"
							m=m+1
						else
							if v.user.gender=="Female"
							f=f+1
								else
									l=l+1
							end
						end
					end
				%> 
			<%end%>
			<br>
			<h3>" <%= @candidate.slogan%> "</h3>
			<br>
			<center>
				<table class="table table-hover">
					<h4>Gender of Voters</h4>
					<tr>
						<th><center>Male Voters</center></th>
						<th><center>Female Voters</center></th>
						<th><center>Other Voters</center></th>
						<th><center>Total Votes</center></th>
					</tr>
					<tr>
						<td><center><%= m%> Votes <br> <progress value="<%= m%>" max="<%= @candidate.votes.count %>" ></center></td>
						<td><center><%= f%> Votes <br> <progress value="<%= f%>" max="<%= @candidate.votes.count %>" ></center></td>
						<td><center><%= l%> Votes <br> <progress value="<%= l%>" max="<%= @candidate.votes.count %>" ></center></td>
						<td><center><%= @candidate.votes.count %></center></td>
					</tr>
				</table>
			</center>
			<hr>

			<h3>Voters who voted for <%= @candidate.full_name%></h3>
			<ul>
				<li>
					<% @candidate.votes.each do |v|%>
					<%= "#{v.user.full_name}"%>
					<p>
						Comments: <%=v.comment%>
					</p>
				</li>
				<%end%>
			</ul>

		</div>
	</div>
</div>